.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/* DatePicker Component */

.form-row {
  margin: 30px auto;
  justify-content: center;
}

.form-group {
  margin: 0 30px;
  margin-top: 0;
}

.DatePicker {
  margin-bottom: 20px;
}

/* Seinoscope and Character components */

.character-container {
  display: flex;
  margin: auto 0;
  align-items: center;
  flex-direction: column;
}

.seinoscope-container {
  display: flex;
}

.main-character {
  width: 720px;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  align-items: center;
}

.quote {
  margin: auto 10%;
  margin-right: 0;
}

.secondary-character {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

.ascendant {
  margin: 30px;
  font-size: 20px;
}

.secondary-character img {
  width: 120px;
}

/* Rounded images bootstrap component */
.rounded-circle {
  max-width: 200px;
  transform: perspective(800px) rotateY(8deg);
  transition: transform 1s ease 0s;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

.rounded-circle:hover {
  transform: perspective(800px) rotateY(-4deg);
}

/* Starry night background */
.jumbotron {
  color: white;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Episode component */

.Episode {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.episode-header {
  margin-bottom: 20px;
}

/* VHS */
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded|Englebert');

.vhs-body {
  /* background: lightgrey; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: black;
  /* height: 100vh; */
}

.vhs {
  width: 210px;
  height: 370px;
  background-image: linear-gradient(
      to bottom,
      transparent 155px,
      #facd32 155px,
      #facd32 178px,
      #f64b0f 178px,
      #f64b0f 201px,
      #db1d20 201px,
      #db1d20 226px,
      #a3193f 226px,
      #a3193f 250px,
      #711c47 250px,
      #711c47 274px,
      transparent 274px
    ),
    linear-gradient(to top, #fdf7de 26px, #fdf7de 26px);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 90px;

  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 50px;
  line-height: 1;
  vertical-align: top;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-shadow: -5px 5px 6px 0px rgba(0, 0, 0, 0.3),
    inset 2px -2px 4px 1px rgba(0, 0, 0, 0.5),
    inset -2px 2px 2px 2px rgba(255, 255, 255, 0.3);
  clip-path: polygon(-10% -10%, 100% -10%, 100% 110%, -10% 110%);
}

.dyan {
  font-style: italic;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1;
}

.vhs:after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 80px;
  margin-left: 168px;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  transform: rotate(-135deg);
  box-shadow: inset -2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    225deg,
    #c2c2c2 0,
    #c2c2c2 10px,
    #333 10px,
    #333 12px,
    #444 12px,
    #444 14px,
    #333 14px,
    #333 57px,
    #444 57px,
    grey 58px,
    #222 58px,
    #222 62px,
    transparent 62px
  );
}

.vhs:before {
  content: 'NBC';
  display: block;
  position: absolute;
  margin-top: -80px;

  font-size: 22px;
  letter-spacing: 4px;
  font-family: 'Stint Ultra Expanded', cursive;
  text-shadow: 2px 0, 0 2px, 2px 2px;
}

.footer {
  margin-top: 152px;
}

.footer-vhs {
  border: 1px solid black;
  /*   align-self: flex-start; */
  font-size: 23px;
  padding: 8px 2px 0 2px;
  font-style: normal !important;
  letter-spacing: 0;
  font-family: 'Englebert', sans-serif !important;
}

.footer-vid {
  font-size: 12px;
  letter-spacing: 0;
}
